<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directory of {{.Path}}</title>
    <style>
        html, body {
            padding: 0;
            margin: 0;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
        }

        #searchInput {
            padding: 6px 12px;
        }
    </style>
    <script>
        function searchFiles() {
            const input = document.getElementById('searchInput').value.toLowerCase();
            const listItems = document.querySelectorAll('#fileList li');

            listItems.forEach(item => {
                const fileName = item.textContent.toLowerCase();
                if (fileName.includes(input)) {
                    item.style.display = '';
                } else {
                    item.style.display = 'none';
                }
            });
        }
    </script>
</head>
<body>
    <div style="background-color: lightblue; padding: 1px 12px; margin-bottom: 12px;">
        <p style="font-size: large;">Directory of {{.Path}}</p>
    </div>

    <div style="padding: 12px;">
        <input type="text" id="searchInput" onkeyup="searchFiles()" placeholder="Search for files..." />
        
        <ul id="fileList">
            {{range .Files}}
            <li>
                <a href="/{{.Link}}">{{.Name}}</a>
            </li>
            {{else}}
            <li>No files found.</li>
            {{end}}
        </ul>
    </div>
</body>
</html>
